<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tailgate Buster</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <img src="banner.jpg" class="center"/>
    <br/>
    <video id="videoPlayer" class="center large" onclick="this.paused ? this.play() : this.pause();">
      <source src="http://localhost:8080/<%= data.video %>" type="video/mp4">
    </video>
    <h3 class="left">License Plate: <%- data.license %></h3>
    <h4 class="left">Time: <%- data.time %></h4>
    <h4 class="left">Speed: <%- data.speed %></h4>
    <h3 class="left">Location</h3>
    <img src="map.png" class="center"/>
  </body>
</html>
