<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tailgate Buster</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <img src="logo.jpg" class="logo"/>
    <img src="tb1.png" class="center"/>
    <input placeholder="Enter a license plate number" class="center"></input>
    <form action="/results">
      <input type="submit" value="Search" class="center"/>
    </form>
  </body>
</html>